<div id="accordion" role="tablist" aria-multiselectable="true">
  <% @challenge.squads.sort_by {|s| s.total_prize == 0 ? 100000000 : s.total_prize }.first(20).each do |squad| %>
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#squad-<%= squad.id %>" aria-expanded="false" aria-controls="squad-<%= squad.id %>">
              <p><%= squad.name %></p>
              <p>Cost: <%= squad.total_prize %> <%= '(Need Loyalty)' if squad.loyalty_needed? %></p>
            </a>
          </h5>
        </div>

        <div id="squad-<%= squad.id %>" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <% squad.prizes.each do |prize| %>
                <p><%= prize.join(', ') %></p>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>